{%extends 'base.html'%}

{%block content%}
{% if error %}

<h6 class = "col-5 alert alert-danger alert-dismissible " data-dismiss = "alert" >{{error}} </h6>

<br />

{% endif %}
<h1>Login!</h1>
<form method = "POST" action = "{%url 'login'%}">
{%csrf_token%}
Username:
<br />
<input type ="text" name = "username1" />
<br />
Password :
<br />
<input type ="password" name ="password1"/>

<br />
<br />
<input class ="btn btn-primary" type ="submit" value = "Login!"/>
<br />

<br />
<div class = "share-button">
<button><a href = "{%url 'signup'%}"> signup?</a> </button>
</div>

</form>


{%endblock%}