{%extends 'base.html'%}

{%block content%}
{% if error %}

<h4 class = "alert alert-danger" >{{error}} </h4>

<br />
<br />

{% endif %}
<h1>Sign UP!</h1>
<form method = "POST" action = "{%url 'signup'%}">
{%csrf_token%}
Username:
<br />
<input type ="text" name = "username1" />
<br />
Password :
<br />
<input type ="password" name ="password1"/>
<br />
Confirm Password:
<br />
<input type ="password" name = "password2"/>
<br />
<br />
<input class ="btn btn-primary" type ="submit" value = "Sign Up!"/>
<br />
<br />
<div class = "share-button">
    <button><a href = "{%url 'login'%}"> Login?</a> </button>
</div>


</form>


{%endblock%}